body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

h1, h2, h3 {
    color: #2c3e50;
}

header {
    background: #2c3e50;
    height: 100px;
    display: flex; /* Додаємо flex для центрирування */
    justify-content: center; /* Центруємо по горизонталі */
    align-items: center; /* Центруємо по вертикалі */
}

header img {
    width: 700px; /* Залишаємо ширину */
    height: auto; /* Автоматична висота для збереження пропорцій */
    max-height: 100%; /* Обмежуємо висоту до 100px хедера */
}

nav {
    margin-top: 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 10px auto;
    max-width: 1400px;
}

section table {
    width: 100%;
    border-collapse: collapse;
}

section table, th, td {
    border: 1px solid #ddd;
}

section th, td {
    padding: 10px;
    text-align: left;
}

section th {
    background: #f4f4f4;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
}

form input, form select, form button {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    background: #3498db;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-bottom: 75px;
}

form button:hover {
    background: #2980b9;
}

footer {
    background: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #3498db;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

/* Універсальний селектор */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Селектор тегу */
h2 {
    font-family: 'Verdana', sans-serif;
    font-size: 24px;
    color: #e74c3c;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Селектор класу */
section {
    background-color: #f9f9f9;
    border: 2px solid #3498db;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Селектор ідентифікатора */
#name {
    border: 2px solid #3498db;
    outline: none;
    font-size: 16px;
    transition: border-color 0.3s ease;
}

#name:focus {
    border-color: #333;
}

/* Селектор атрибута */
input[type="email"] {
    border: 2px solid #3498db;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
}

input[type="email"]:focus {
    border-color: #20c212;
}

/* Сусідній селектор */
h2 + p {
    font-size: 18px;
    color: #7f8c8d;
}

/* Дочірній селектор */
section ul > li {
    font-size: 18px;
    color: #2980b9;
    list-style-type: circle;
    margin-left: 20px;
}

section ol > li {
    font-size: 18px;
    color: #2980b9;
    margin-left: 20px;
}

section table {
    width: 100%;
    border-collapse: collapse;
}

section th, td {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: left;
}

section th {
    background-color: #3498db;
    color: white;
    font-weight: bold;
}

section tr:nth-child(even) {
    background-color: #f2f2f2;
}

body {
    font-family: 'Arial', sans-serif;
    color: #333;
    background-color: #ecf0f1;
}

h2, h3 {
    font-family: 'Georgia', serif;
    color: #34495e;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

p {
    font-size: 18px;
    color: #7f8c8d;
    line-height: 1.8;
    margin: 15px 0;
}

form input, form select, form button {
    font-family: 'Courier New', monospace;
}

form button {
    outline: none;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
    margin-left: 40px;
}

ol {
    margin-left: 40px;
}

.banner-carousel {
    position: relative;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.slides {
    display: flex;
    transition: transform 1s ease-in-out;
}

.slide {
    min-width: 100%; 
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
}

.slide img {
    width: 50%;
    height: auto;
}

.indicators {
    text-align: center;
    margin-top: 10px;
}

.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 5px;
    background-color: #ddd;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dot.active {
    background-color: #3498db; /* Колір активного індикатора */
}

h6 {
    color: #2c3e50;
    font-size: 24px;
    font-family: 'Verdana', sans-serif;
}

.details-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.details-button:hover {
    background-color: #2980b9;
}

/* Стилі для модального вікна */
.modal {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 500px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    color: #333;
    cursor: pointer;
}

#menu-toggle {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#slide-menu {
    position: absolute;
    top: 100px;
    left: 0;
    width: 160px;
    height: 500px; 
    background-color: #2c3e50;
    color: #fff;
    padding-top: 10px;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#slide-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#slide-menu ul li {
    padding: 15px;
    width: 100%;
    font-family: 'Arial', sans-serif; /* Змінити шрифт */
    font-size: 18px; /* Збільшити розмір шрифту */
    margin-bottom: 10px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Додати плавний перехід */
    position: relative; /* Для ефекту тіні */
}

/* Ефект наведення */
#slide-menu ul li:hover {
    background-color: #3498db; /* Змінити фон при наведенні */
    color: #fff; /* Змінити колір тексту */
}

#slide-menu ul li:hover::before {
    background: rgba(0, 0, 0, 0.2); /* Зміна тіні при наведенні */
}

/* Кнопка для приховування меню */
.close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
}

/* Показуємо меню, коли воно активне */
#slide-menu.show {
    transform: translateX(0);
}

/* Десктопна версія */
@media (min-width: 1025px) {
    header img {
        width: 700px;
    }
    section {
        padding: 20px;
        max-width: 1400px;
    }
    #slide-menu {
        z-index: 1000;
        width: 160px;
    }
}

/* Планшетна версія */
@media (min-width: 768px) and (max-width: 1024px) {
    header img {
        width: 500px;
    }
    section {
        padding: 15px;
        max-width: 800px;
    }
    #slide-menu {
        z-index: 1000;
        width: 100%; 
        height: auto; 
    }
    nav a {
        font-size: 16px;
        margin: 0 10px;
    }
}

/* Мобільна версія */
@media (max-width: 767px) {
    header img {
        width: 300px;
    }
    section {
        padding: 10px;
        margin: 5px;
        max-width: 100%;
    }
    nav a {
        margin: 0 5px;
        font-size: 14px;
    }
    section table, section th, section td {
        font-size: 14px;
        padding: 8px;
    }
    form input, form select, form button {
        font-size: 14px;
        padding: 8px;
    }

    #slide-menu {
        z-index: 1000;
        width: 100%; 
        height: auto; 
    }
    #menu-toggle {
        font-size: 16px;
        padding: 8px;
    }
}

